.fleet-container {
  margin: 1rem 3rem;
}
.makes-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.make {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  align-items: center;

  background-color: white;
}

.make img {
  max-width: 300px;

  border-radius: 20px;
}
.car-specs-flex {
  font-size: 25px;
  font-style: bold;
}

.button-container {
  justify-self: center;
}
h1 {
  text-align: center;
}
h3 {
  font-size: 1.5rem;
}
Button {
  max-height: 50px;
}
