.carselector-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  box-shadow: 0px 2px 9px 10px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
@media (max-width: 400px) {
  .carselector-box {
    background-color: rgba(255, 255, 255, 0.205);
    gap: 15px;
  }
}
