/* body {
  background-image: none;
} */
.rentcar-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 300px;
  margin: 50px;
}

.car-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.car-data:first-child {
  background-color: white;
}

img {
  max-width: 600px;
  width: 100%;
}
.date-picker {
  box-shadow: 0px 2px 9px 10px rgba(0, 0, 0, 0.75);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  background-color: white;
}
.date-picker p {
  font-size: 20px;
}
/* .payment-total {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
} */
.payment-total-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  box-shadow: 0px 2px 9px 10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin-bottom: 20px;
}
.form-flex {
  border: 5px solid red;
  grid-column: span 2;
  background-color: white;
}
.textfield {
  width: 100%;
  max-width: 1000px;
}
.payment-total {
  display: flex;
  gap: 150px;
  align-items: center;
}
